---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos de moi  | Elias De Bernardo" description="Tout savoir sur moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Ci-dessous une présentation briève de mon parcours"
				
			>
				
			</Hero>

			

			<section>
				<h2 class="section-title">Mon parcours</h2>
				<div class="content">
					<p> <h3>De hier à aujourd'hui</h3> <br> 
						<p> 
							<br>
							<h4>
								<a href="/assets/CV_Elias_De_Bernardo.pdf" target="_blank" class="button">CV</a>
							<br>
							<br>
								<a href="/assets/E4-TABLEAU_SYNTHESE_ELIAS_DE_BERNARDO.pdf" target="_blank" class="button">Tableau de synthèse</a>

							</h4> <br>
			
						Je suis diplomé d'un Baccalauréat STI2D (option Energie Environement) du <a href="https://lyc-violletleduc.ac-versailles.fr/" target="_blank">Lycée Viollet-Le-Duc</a>.
						J'ai commencé mes études par une CPGE au <a href="https://lyc-ferry-versailles.ac-versailles.fr/" target="_blank"> Lycée Jules Ferry (Versailles)</a>Par la suite j'ai préféré changer de voie et de me diriger vers l'informatique,  car j'ai toujours été intéressé par ce domaine depuis mon plus jeune âge grâce aux jeux vidéo. J'ai donc entrepris de me lancer dans le développement en choisissant le BTS SIO option SLAM au sein de l'école  <a href="https://esic.fr/" target="_blank">ESIC</a> afin de pouvoir créer mes propres sites internet et d'acquérir de nombreuses compétences grâce à cette formation.
						Actuellement je suis en deuxième année, qui est un cursus en alternance que j'effectue au sein de l'entreprise <a href="https://framatome.com/" target="_blank">Framatome</a>. Cette expérience ce déroule au sein de l'équipe Cybersécurité. 
						Plus tard, j'aimerais me spécialiser dans le domaine de la Cybersécurité, car c'est un domaine qui m'intéresse beaucoup, qui suit mon cursus actuel et qui est en pleine expansion.  
					</p>
					<br>
					<br> <p> <h3>De demain à après demain</h3>
						<p> 
							<br>
						Après l'obtention de mon BTS, je continueruerais mes études en alternance en intégrant une école d'ingenieur <a href="https://esiea.fr/" target="_blank">ESIEA</a> en Cybersécurité. 
						Ensuite, je souhaiterais continuer mes études en alternance en intégrant un Master en Cybersécurité. 
						Enfin, je souhaiterais continuer mes études en alternance en intégrant un Mastère en Cybersécurité.
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes diplomes</h2>
				<div class="content">
					<p>Baccalauréat STI2D spécialitée Energie Environement</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Autonome, curieux, passionné, discipliné</p>
					<p>HTML5/CSS3, React, ASTRO, JS, PYTHON, SQL, PHP, Merise, VBA, VBE, Bash</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Apprentissage personnel</h2>
				<div class="content">
					<p> <h3>Linkedin Learning</h3> <br>
						<img
						width="75%"
						src="/assets/html-css-js.jpeg"
						alt="html-css-js"
					/> <br>	
					<br>
				
				<p> <h3>React</h3> <br>
					<img
					width="75%"
					src="/assets/react.jpeg"
					alt="React"
				/> <br>
			<br>
			<p> <h3>Dart / Flutter</h3> <br>
				<img
				width="75%"
				src="/assets/flutter.jpeg"
				alt="Flutter"
			/> <br>
			<br>
		</div>
			
			
		</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #af16ca, #0056b3);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

	.button:hover {
		background-color: #0056b3;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
